<div class="flex flex-col w-full h-full min-h-0">
    <div #tasksNavbar class="flex w-full p-5 lg:p-10 z-10">
        <nav class="flex w-full justify-between items-center p-2 lg:p-5 shadow-block-sm rounded-lg ">
            <button (click)="goBack()" class="flex gap-2 px-3 py-1 rounded-lg group">
                <i class="bi bi-arrow-left icon-bold group-hover:text-teal-300 duration-300"></i>
                <span class="hidden lg:inline">Back</span>
            </button>
            <app-search-box class="md:w-1/2 relative"></app-search-box>
            <app-filter [filters]="['done', 'undone', 'muted', 'unmuted']"></app-filter>
        </nav>
    </div>
    <div #tasksContainer class="flex flex-col gap-10 w-full h-full min-h-0 p-5 lg:p-10 overflow-y-auto">
        <!-- <h2 *ngIf="folders" class="text-xl font-medium">Folders</h2>
        <div #foldersList class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
            <div *ngFor="let folder of folders" class="folder">
                <p>{{folder.title}}</p>
            </div>
        </div> -->
        <h2 *ngIf="tasks" class="text-xl font-medium">Tasks</h2>
        <div #tasksList class="h-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
            <div *ngFor="let task of tasks" class="relative flex gap-3 items-center justify-between py-3 pl-20 pr-5 bg-white shadow-block-sm rounded-lg
                hover:translate-x-[-5px] hover:shadow-block-md duration-500 h-fit">
                <a class="absolute inset-0 h-full w-full" href=""></a>
                <div class="absolute flex items-center justify-center left-0 h-full w-14 bg-teal-300 rounded-l-lg">
                    <input type="checkbox" class="form-checkbox rounded-full w-6 h-6 border-none" [(ngModel)]="task.done">
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-2xl">{{task.targetDate | date: 'hh:mm'}}</span>
                    <span class="font-medium text-base">{{task.targetDate | date: 'dd.MM.yy'}}</span>
                </div>
                <div class="flex flex-col">
                    <span class="font-medium text-lg line-clamp-1">{{task.title}}</span>
                    <p class="line-clamp-2">{{task.description}}</p>
                </div>
                <span class="p-2 z-10 hover:text-teal-300 duration-300 cursor-pointer" (click)="toggleMute(task)">
                    <i *ngIf="!task.muted" class="bi bi-bell-fill text-2xl"></i>
                    <i *ngIf="task.muted" class="bi bi-bell-slash text-2xl"></i>
                </span>
            </div>
        </div>
    </div>
</div>
